.App {
    text-align: center;

}

.App-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding: 5px 5px 0px 0px;
    gap: 10px;
}

.App-link {
    color: #61dafb;
}

.headerLogo {
    flex: 1;
}

.headerControls {
    flex: 2;
    text-align: left;
}

.kblogo {
    width: 80px;
    height: 80px;
}

.techniqueFilter {
    width: 92%;
}

.techniqueList {
}

.techniqueCard {
    display: inline-block;
    padding: 4px;
}

.techniqueCard .MuiPaper-root {
    border: solid lightgray 1px;
}

.beltLabelDefault {
    border: solid lightgray 1px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;
}

.viewTechniqueBackButton {
    margin: 10px 0px 30px 0px
}

/* Make react-player scale: https://stackoverflow.com/questions/49393838/how-to-make-reactplayer-scale-with-height-and-width */
.wrapper {
    position: relative !important;
    /* Player ratio: 100 / (1280 / 720) */
    padding-top: 56.25% !important;
}

.player {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.maxWidthWrapper {
    max-width: 800px;
}
/* End Reactplayer */

