.App {
    text-align: center;

}

.App-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    gap: 60px;
}

.App-link {
    color: #61dafb;
}

.headerLogo {
    flex-shrink: 1;
}

.headerControls {
    flex-grow: 4;
    max-width: 80%;
}

.kblogo {
    width: 100px;
    height: 100px;
    flex-grow: 1;
}

.techniqueFilter {
    width: 100%;
}

.beltFilter {
    width: 100%
}

.techniqueList {
}

.techniqueCard {
    display: inline-block;
    padding: 4px;
}

.techniqueCard .MuiPaper-root {
    border: solid lightgray 1px;
}

.beltLabelDefault {
    border: solid lightgray 1px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;
}

.viewTechniqueBackButton {
    margin: 10px 0px 30px 0px
}